<section data-ng-controller="ArticlesController" class="row">
    <form class="form-horizontal" data-ng-submit="create()" name="articleForm" data-ng-init="getUploads()">
        <div class="form-group">
            <div class="col-md-9 col-lg-9 col-sm-8">
                <input class="form-control" type="text" data-ng-model="title" id="title" placeholder="Title" required>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4">
                <label class="btn btn-default" ng-class="{ 'btn-primary':markdown,'btn-default':!markdown}">
                    <input type="checkbox" ng-model='markdown'>Markdown
                </label>
                <span class="btn btn-default" file-upload-trigger="#uploader">
                    <i class="icon-upload icon-large"></i>
                </span>
                <input type="file" class="form-control hide" ng-file-select="upload($files)" id="uploader">
                <span class="btn btn-default" ng-class="{'btn-primary':viewUploaded,'btn-default':!viewUploaded}" ng-click="viewUploaded = !viewUploaded" title="toggle click to see the files you uploaded recently.">
                    <span class="badge">{{fileslist.length}}</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12" ng-class="{'hide':preview, 'col-md-12':!viewUploaded, 'col-md-7': viewUploaded}">
                <textarea name="preview" id="preview" cols="30" rows="1" class="form-control" data-edit-target="#content" placeholder="add a subject" data-ng-model="preview" required></textarea>
                <textarea class="form-control" data-ng-model="content" id="content" cols="30" rows="30" placeholder="enter some content" data-edit-target="#preview" required></textarea>
            </div>
            <div class="hide col-md-5" ng-class="{'hide':!viewUploaded || preview}">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="file in fileslist">
                        <span class="badge" ng-bind="file.path"></span>
                        {{file.originalName}}
                    </li>
                    <li class="list-group-item text-warning" ng-show="!fileslist.length">
                        Not file has uploaded in last 3 days.You can view all your uploaded files in uploads feature.
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <bs-tags-input type="text" ng-model="tags" tagClass="badge" /></bs-tags-input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" ng-disabled="articleForm.$invalid">Submit</button>
                <a class="btn btn-success" ng-show='markdown' ng-click="preview = true">Preview</a>
            </div>
        </div>
    </form>
    <div class="panel panel-default animated fadeIn hide" ng-if='preview' ng-class="{'hide':!preview}">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{title}}
                <a ng-click='preview = !preview' href="" class="close pull-right">&times;</a>
            </h4>
        </div>
        <div class="panel-body">
            <div btf-markdown="content">
            </div>
        </div>
    </div>
</section>
